
<div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2 admin-question">
	<h2>Список тестів</h2>
	<hr>
	
	<?php foreach ($listTest as $value): ?>
		
		<h5><a href="user/test/<?=$value['id']?>"><?=$value['testName']?></a></h5>

	<?php endforeach ?>
</div>