.admin {
    width: 100%;
    height: 100vh;
    background-color: #FAFCF8;
}

.admin-reg {
    background-color: white;
    margin-top: 25vh;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #00BF70;
    border-radius: 4px;
    text-align: center;
}

.error {
    color: red;
    font-weight: lighter;
}

.wrapper {
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
}

.admin-link {
    color: black;
}

.navbar .admin-brand:hover,
.navbar .nav-item .nav-link:hover,
.admin-link:hover,
.home-link,
.home-link:hover {
    color: #00BF70;
}

.footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    clear: both;
}

.admin-question,
.user-reg {
    background-color: white;
    margin-top: 5vh;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #00BF70;
    border-radius: 4px;
    text-align: center;
}

.reg-link {
    display: inline;
}

.reg-left {
    float: left;
    padding-top: 5px;
}
