<div class="container">
   <div class="row">
  
    <div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2 user-reg">
    <h2>Зареєструйтесь щоб пройти тест</h2>

    <a href="/login" class="home-link">Уже зареєстрований</a>
        <form action="" method="post">
            <div class="form-group">
                <label for="email"><b>Логін</b></label>
                <input type="text" name="login" class="form-control" required placeholder="Логін">
            </div>
            <div class="form-group">
                <label for="password"><b>Пароль</b></label>
                <input type="password" name="password" class="form-control" required placeholder="Пароль">
            </div>
            <div class="form-group">
                <label for="password"><b>Пароль повторно</b></label>
                <input type="password" name="repeat_password" class="form-control" required placeholder="Пароль">
            </div>
            <div class="text-right">
                <div class="reg-link reg-left">
                    
                </div>
                <div class="reg-link">
                    <button class="btn btn-success">Зареєструватись</button>
                </div>

            </div>
        </form>
    </div>

</div>
</div>

