<div class="container admin-login">
   <div class="row">
  
    <div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2 admin-reg">
    <h2>Вхід</h2>

     <p class="error"><?php if(isset($error)) echo $error?></p>
        <form action="" method="post">
            <div class="form-group">
                <label for="email"><b>Логін</b></label>
                <input type="text" name="login" class="form-control" required placeholder="Логін">
            </div>
            <div class="form-group">
                <label for="password"><b>Пароль</b></label>
                <input type="password" name="password" class="form-control" required placeholder="Пароль">
            </div>
            <div class="text-right">
                <div class="reg-link reg-left">
                    <a href="/">Зареєструватись</a>
                </div>
                <div class="reg-link">
                    <button class="btn btn-success">Увійти</button>
                </div>

            </div>
        </form>
    </div>

</div>
</div>
    

