
<div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 admin-question">
	<h2>Додати запитання</h2>
	<form action="" method="post">
	  <div class="form-group">
	    <label for="formGroupExampleInput">Запитання</label>
	    <textarea class="form-control" name="title" rows="3" required></textarea>
	  </div>
	  <div class="form-group">
	    <label for="formGroupExampleInput">Відповідь №1</label>
	    <input type="text" class="form-control" name="answer1" placeholder="Відповідь №1" required>
	  </div>
	  <div class="form-group">
	    <label for="formGroupExampleInput">Відповідь №2</label>
	    <input type="text" class="form-control" name="answer2" placeholder="Відповідь №2" required>
	  </div>
	  <div class="form-group">
	    <label for="formGroupExampleInput">Відповідь №3</label>
	    <input type="text" class="form-control" name="answer3" placeholder="Відповідь №3" required>
	  </div>
	  <div class="form-group">
	    <label for="formGroupExampleInput">Відповідь №4</label>
	    <input type="text" class="form-control" name="answer4" placeholder="Відповідь №4" required>
	  </div>
	  <div class="form-group">
	    <label for="exampleSelect1">№ вірної відповіді</label>
	    <select class="form-control" name='trueAnswer'">
	      <option value="1">1</option>
	      <option value="2">2</option>
	      <option value="3">3</option>
	      <option value="4">4</option>
	    </select>
	  </div>
	  <div class="form-group">
	    <label for="formGroupExampleInput">Кількість балів</label>
	    <input type="text" class="form-control" name="bal" placeholder="Кількість балів" required>
	  </div>
	  <div class="form-group">
	    <input type="submit" class="btn btn-success" name="submit" value="Додати питання">
	  </div>
	</form>
</div>