
<div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2 admin-reg">
	<h2>Додати тест</h2>
	<form action="" method="post">
	  <div class="form-group">
	    <label for="formGroupExampleInput">Назва тесту</label>
	    <input type="text" class="form-control" name="testName" placeholder="Назва тесту">
	  </div>
	  <div class="form-group">
	    <button class="btn btn-success">Додати</button>
	  </div>
	</form>
</div>