<div class="col-md-2 offset-md-3 col-sm-8 offset-sm-2 admin-reg">

<a class="admin-link" href="/admin/list-test">Список тестів</a>

</div>

<div class="col-md-2 offset-md-2 col-sm-8 offset-sm-2 admin-reg">

<a class="admin-link" href="/admin/add-test">Додати тест</a>

</div>

