<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><?=$title?></title>
    <link rel="stylesheet" href="/styles/css/bootstrap.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/styles/css/style.css">
</head>

<body>
    <div class="wrapper">
        <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand admin-brand" href="/admin/home">Адмін панель</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">На Сайт <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <a class="btn btn-outline-secondary my-2 my-sm-0" href="/admin/logout">Вийти</a>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                
                    <?= $content ?>
                
            </div>
        </div>
        <div class="footer bg-inverse">
        </div>
    </div>
    <script src="/styles/js/jquery.js"></script>
    <script src="/styles/js/bootstrap.min.js"></script>
</body>

</html>